@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index.scss";

.form-control {
  margin-left: 0.1em;
  width: 100px;
  height: auto;
}
.form-control:invalid{
  border-color: red;
}
.title-table{
  font: italic small-caps bold 20px/1 cursive;
}
.create-button{
  padding-top: 0.6em;
}
.candidate_select{
  margin-left: 17em;
  margin-right: 0;
  width: 250px;
  height: 36px;
}
.title-election{
  margin-bottom: 4em;
  margin-top: 4em;
}
.title-voting{
  margin-bottom: 2em;
  margin-top: 2em;
}
.mx-auto{
  transform: scale(1.5);
  max-width: 500px;
  margin: 20px auto;
  width: 70%;
}
.nav-bar{
  width: 100%;
}
.loading{
  color: blue;
}
.bg-primary,
.btn-primary,
{
  background-image: linear-gradient(to right, #373b44, #314065);
}
.bg-dark,
{
  background-image: linear-gradient(to right, #0077FF, #3C97FF);
}
