@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index.scss";

.form-control {
  margin-left: 0.1em;
  width: 100px;
  height: auto;
}
.form-control:invalid{
  border-color: red;
}

.candidate_select{
  margin-left: 17em;
  margin-right: 0;
  width: 250px;
  height: 36px;
}
.title-election{
  margin-bottom: 7em;
}
.mx-auto{
  transform: scale(1.5);
  max-width: 500px;
  margin: 20px auto;
  width: 70%;
}
